[Unit]
Description=OpenLI mediator daemon
Documentation=http://github.com/OpenLI-NZ/openli/wiki
After=network.target rabbitmq-server.service
Wants=rabbitmq-server.service

[Service]
User=openli
Group=openli
Type=simple
ExecStart=/usr/bin/openlimediator -c /etc/openli/mediator-config.yaml
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-abnormal
RestartSec=5s

PrivateTmp=no
ProtectSystem=yes
ProtectHome=no
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
