[Unit]
Description=OpenLI provisioner daemon
Documentation=http://github.com/OpenLI-NZ/openli/wiki

[Service]
User=openli
Type=simple
ExecStart=/usr/bin/openliprovisioner -c /etc/openli/provisioner-config.yaml
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
