#!/usr/bin/make -f
%:

	dh $@ --with=systemd --with autoreconf


override_dh_auto_configure:
	dh_auto_configure -- --sysconfdir=/etc/

override_dh_install:
	dh_install --sourcedir=debian/openli

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/openli prefix=/usr install

override_dh_installinit:
	dh_installinit --no-start

override_dh_builddeb:
	dh_builddeb -- -Zgzip
